#### Pyspark GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('aggregate').getOrCreate()

In [19]:
df = spark.read.csv('people.csv', header=True, inferSchema=True)

In [20]:
df.head(5)

[Row(Name='Peter', Age=45, Experience=15, Gender='M', Salary=5000),
 Row(Name='Clevelend', Age=42, Experience=3, Gender=None, Salary=1000),
 Row(Name='Quagmire', Age=61, Experience=40, Gender='M', Salary=3500),
 Row(Name='Joe', Age=40, Experience=5, Gender=None, Salary=None),
 Row(Name='Lois', Age=40, Experience=4, Gender='F', Salary=2500)]

In [21]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [22]:
## Groupby
df.groupBy('Name').sum().show()

+---------+--------+---------------+-----------+
|     Name|sum(Age)|sum(Experience)|sum(Salary)|
+---------+--------+---------------+-----------+
|      Joe|      80|             10|       6000|
|     Lois|      40|              4|       2500|
|Clevelend|      42|              3|       1000|
|      Meg|      17|              1|       NULL|
| Quagmire|      61|             40|       3500|
|    Peter|      90|             30|       9000|
+---------+--------+---------------+-----------+

In [23]:
df.groupBy('Gender').sum().show()

+------+--------+---------------+-----------+
|Gender|sum(Age)|sum(Experience)|sum(Salary)|
+------+--------+---------------+-----------+
|     F|      57|              5|       2500|
|  NULL|     122|             13|       7000|
|     M|     151|             70|      12500|
+------+--------+---------------+-----------+

In [24]:
df.groupBy('Gender').count().show()

+------+-----+
|Gender|count|
+------+-----+
|     F|    2|
|  NULL|    3|
|     M|    3|
+------+-----+

In [26]:
df['Gender', 'Salary'].groupBy('Gender').max().show()

+------+-----------+
|Gender|max(Salary)|
+------+-----------+
|     F|       2500|
|  NULL|       6000|
|     M|       5000|
+------+-----------+