# Pyspark Dataframes
#### Filter Operation
#### &, |, ==
#### ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('HMDataframe').getOrCreate()

In [3]:
df = spark.read.csv('people.csv', header=True, inferSchema=True)

In [9]:
df.head(3)

[Row(Name='Peter', Age=45, Experience=15, Gender='M', Salary=5000),
 Row(Name='Clevelend', Age=42, Experience=3, Gender=None, Salary=1000),
 Row(Name='Quagmire', Age=61, Experience=40, Gender='M', Salary=3500)]

### Filter Operation

In [11]:
## salary of the people greater than or equal to 2000
df.filter("Salary>=2000").show()

+--------+---+----------+------+------+
|    Name|Age|Experience|Gender|Salary|
+--------+---+----------+------+------+
|   Peter| 45|        15|     M|  5000|
|Quagmire| 61|        40|     M|  3500|
|    Lois| 40|         4|     F|  2500|
+--------+---+----------+------+------+

In [12]:
df.filter("Salary>=2000").select(['Name', 'Age']).show()

+--------+---+
|    Name|Age|
+--------+---+
|   Peter| 45|
|Quagmire| 61|
|    Lois| 40|
+--------+---+

In [15]:
## same operations but different method
df.filter((df["Salary"]>=2000) & (df["Age"]<=45)).show()

+-----+---+----------+------+------+
| Name|Age|Experience|Gender|Salary|
+-----+---+----------+------+------+
|Peter| 45|        15|     M|  5000|
| Lois| 40|         4|     F|  2500|
+-----+---+----------+------+------+

In [16]:
## not operator
## retrieve all records except the records where salary is greter or equal to 2000 and age less than 45
df.filter(~((df["Salary"]>=2000) & (df["Age"]<=45))).show()

+---------+---+----------+------+------+
|     Name|Age|Experience|Gender|Salary|
+---------+---+----------+------+------+
|Clevelend| 42|         3|  NULL|  1000|
| Quagmire| 61|        40|     M|  3500|
+---------+---+----------+------+------+